.AlBarR {
  background: #ff0000;
  color: #b90000;
}
.AlBarY {
  background: #ffdf2c;
  color: #ffc000;
}
.AlBarG {
  background: #2cff3e;
  color: #2cf020;
}
.AlBarW {
  background: #ffffff;
  color: #b6b6b6;
}

