.App {
  text-align: center;
}

.AppInput {
  background: #fdf6b5;
}

.AppImage {
  width: auto;
  height: 50px;
}
/* display: flex;
justify-content: flex-start; */

.DebugDiv1 {
  background: #ff2da8;
}

.DebugDiv2 {
  background: #d52dff;
}
